.logo {
  width: 424px;
}

.logo-left {
  left: 0;
}

.text-right {
  text-align: right;
}

.hero-section {
  background-color: #1C2430;
  z-index: 2;

  min-height: 100vh;
}

.text-primary {
  color: #3586FF !important;

}

.btn-primary {
  background-color: #2672ff;
  border: none;
}

.btn-primary:hover {
  background-color: #1b5fd9;
}

.right-0 {
  right: 0;
}

.heading-font {
  font-size: 64px;
}

.size-border {
  width: 164px;
  height: 1px;
  background-color: #3586FF;
}

.max-w-1140 {
  max-width: 1140px !important;
}

.light-position {
  bottom: 0;
  left: 0;
  z-index: -1;
}

.hero-image-position {
  right: 0;
}


@media (max-width:1024.98px) {
  

  .light-position {
    display: none;
  }

}

@media (max-width:1023.98px) {
  .hero-image-position {
    right: 0;
    top: 23%;
  }

  .size-border {
    max-width: 164px;
    height: 1px;
    background-color: #3586FF;
    margin-left: auto;
    margin-right: auto;
  }
    
}

@media (min-width:1023.01) and (max-width:768.98px) {
  .logo {
    width: 324px;
  }

  .logo-left {
    left: -10%;
  }

  .heading-font {
    font-size: 54px;
  }

 

}

@media (max-width:640.98px) {
  .logo {
    width: 124px;
  }

  .flex-direction {
    flex-direction: column;
  }

  .logo-left {
    left: -29%;
  }

  .pt-90 {
    padding-top: 90px;
  }

  .heading-font {
    font-size: 44px;
  }

  .hero-image-position {
    right: 0;
    top: 37%;
  }

}